sklearn or scikit learn always us build machine learning models.. it is built on numpy, matplotlib and python
it has inbuilt ML models
it has a very well designed API

a trained model is a ML model that has found patterns in data

# introduction to scikit-learn (sklearn)

## content
an end-to-end Scikit-Learn workflow
1. Getting the data ready
2. choose the right estimator/algorithm for our problems
3. fit the model/algorithm and use it to make predictions on our data
4. evaluating the model
5. improve a model
6. save and load a trained model
7. putting it all together

## An end-to-end Scikit-Learn workflow

## 1. get the data ready

In [1]:
import pandas as pd
import numpy as np
heart_disease=pd.read_csv("./csv_files/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1,0
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# use all of the columns to predict target(1 or 0: heart-disease or not),, a classification problem

# create X (features matrix)
X=heart_disease.drop("target", axis=1) # to drop the target column

#create y(labels)
y=heart_disease["target"]

## 2. choose the right model and hyperparameters

In [33]:
from sklearn.ensemble import RandomForestClassifier

clf= RandomForestClassifier() # set estimators at 100, default value
# clf= RandomForestClassifier(n_estimators=100)

# keep the default hyperparameters
clf.get_params

<bound method BaseEstimator.get_params of RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

## 3. fit the model to the training data

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [34]:
# find the patterns in the training data

clf.fit(X_train, y_train);

C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [19]:
# make a prediction on arrays that look like the model we have trained
y_label=clf.predict(np.array([0,2,3,4]))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [20]:
y_preds=clf.predict(X_test)
y_preds

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1], dtype=int64)

In [21]:
y_test

207    0
142    1
273    0
263    0
174    0
81     1
169    0
180    0
1      1
206    0
251    0
50     1
275    0
101    1
262    0
88     1
300    0
250    0
165    0
102    1
39     1
109    1
87     1
152    1
181    0
172    0
228    0
213    0
244    0
97     1
      ..
78     1
129    1
118    1
295    0
115    1
67     1
47     1
155    1
202    0
33     1
259    0
149    1
76     1
21     1
65     1
25     1
232    0
10     1
103    1
66     1
120    1
106    1
199    0
298    0
147    1
77     1
54     1
157    1
294    0
58     1
Name: target, Length: 61, dtype: int64

## 4. evaluate the model on the training data and test data

In [22]:
clf.score(X_train, y_train) 
#1.0 rep 100%

1.0

In [23]:
clf.score(X_test,y_test)
#77% accuaracy on test data cos it has never seen the data nor its labels.. it  gets 87 out of a 100 data right

0.9016393442622951

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.86      0.92      0.89        26
           1       0.94      0.89      0.91        35

    accuracy                           0.90        61
   macro avg       0.90      0.90      0.90        61
weighted avg       0.90      0.90      0.90        61

In [25]:
confusion_matrix(y_test, y_preds)

array([[24,  2],
       [ 4, 31]], dtype=int64)

In [26]:
accuracy_score(y_test, y_preds)

0.9016393442622951

## 5. improve a model

In [27]:
_
# try a diff amount of n_estimators
np.random.seed(42)
for i in range(10,120,10):
    print(f"Trying model with {i} estimators.....")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")
    
#when n=100 here, we get 93.7
#from the initial model, n=100,we got 77

Trying model with 10 estimators.....
Model accuracy on test set: 81.97%

Trying model with 20 estimators.....
Model accuracy on test set: 88.52%

Trying model with 30 estimators.....
Model accuracy on test set: 88.52%

Trying model with 40 estimators.....
Model accuracy on test set: 88.52%

Trying model with 50 estimators.....
Model accuracy on test set: 86.89%

Trying model with 60 estimators.....
Model accuracy on test set: 86.89%

Trying model with 70 estimators.....
Model accuracy on test set: 90.16%

Trying model with 80 estimators.....
Model accuracy on test set: 88.52%

Trying model with 90 estimators.....
Model accuracy on test set: 88.52%

Trying model with 100 estimators.....
Model accuracy on test set: 88.52%

Trying model with 110 estimators.....
Model accuracy on test set: 86.89%

## 6. save and load a trained model

In [30]:
import pickle
pickle.dump(clf,open("random_forst_model_1.pkl", "wb"))

In [31]:
loaded_model=pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(X_test,y_test)
 # this matches the last accuracy we got.. same accuracy as the recently trained model

0.8688524590163934

In [32]:
import sklearn
sklearn.show_versions()

Could not locate executable g77
Could not locate executable f77
Could not locate executable ifort
Could not locate executable ifl
Could not locate executable f90
Could not locate executable DF
Could not locate executable efl
Could not locate executable gfortran
Could not locate executable f95
Could not locate executable g95
Could not locate executable efort
Could not locate executable efc
Could not locate executable flang
don't know how to compile Fortran code on platform 'nt'

System:
    python: 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]
executable: C:\Users\Isaac Alexander\Anaconda3\python.exe
   machine: Windows-10-10.0.19041-SP0

BLAS:
    macros:
  lib_dirs:
cblas_libs: cblas

Python deps:
       pip: 19.1.1
setuptools: 41.0.1
   sklearn: 0.21.2
     numpy: 1.16.4
     scipy: 1.2.1
    Cython: 0.29.12
    pandas: 0.24.2

C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:639: UserWarning:
    Atlas (http://math-atlas.sourceforge.net/) libraries not found.
    Directories to search for the libraries can be specified in the
    numpy/distutils/site.cfg file (section [atlas]) or by setting
    the ATLAS environment variable.
  self.calc_info()
C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:639: UserWarning:
    Blas (http://www.netlib.org/blas/) libraries not found.
    Directories to search for the libraries can be specified in the
    numpy/distutils/site.cfg file (section [blas]) or by setting
    the BLAS environment variable.
  self.calc_info()
C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:639: UserWarning:
    Blas (http://www.netlib.org/blas/) sources not found.
    Directories to search for the sources can be specified in the
    numpy/distutils/site.cfg file (section [blas_src]) or by setting
    the BLAS_SRC environment variable.
  self.calc_info()

# debugging warnings in jupyter

1. do what the warning says
2. import warnings
   warnings. filterwarnings("ignore")   for warnings u are sure wont affect ur code
   warnings. filterwarnings("default")  this brings the warning bk
3. u can upgrade ur package to get rid of some warnings
look up the dependencies and set version number of packages u want to install,, u can uninstall thise preventing the upgrade of a package then install the proper version format
A Python script that reports warnings when it runs can be frustrating.

For a beginner, it may feel like the code is not working correctly, that perhaps you have done something wrong.
For a professional, it is a sign of a program that requires updating"


## Revisiting End2END SCi-KIt learn flow

# 1. GETTING DATA READY -splitting the data

In [3]:
#standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## getting our data ready to be used with ML

three main things to do"
1. split data into featires and labels( X annd y)
2. filling/imputing/disregarding missing values-- ml cant learn when there is no info,, it throws an error
3. converting non numerical values to numerical values(also called feature coding)

In [4]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
#features
X=heart_disease.drop("target", axis=1)
# axis=0, is row axis, axis=1 is column axis
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [14]:
# labels
y= heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [15]:
# split data into training and test set

# note that it is a fundamemtal principle never to evaluate models on data it has learnt from , 
# hence we split into training and test set

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [16]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

#13 rep the n of columns in x
#242 is 80% of total rows

((242, 13), (61, 13), (242,), (61,))

In [17]:
X.shape[0] * 0.8

242.4

In [18]:
242 + 61

303

In [19]:
heart_disease.shape

(303, 14)

# the more data we have , the more we have to work with but we need useful data
clean data- transform data- reduce data
we remove and replace data when cleaning data, due to missing values, missing labels cos we cant build an acurate models with these missing data

transform data--
computers only understand 1 and 0... convert info into numbers,, use same unit for data across board...  

reduce data--
big data causes money.. more cpus... data reduction is sometimes caled column/dimensionality reduction... remove irrelevant columns

## 1.1. make sure data is all numerical

In [20]:
car_sales=pd.read_csv("./csv_files/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [23]:
car_sales.shape, len(car_sales)

((1000, 5), 1000)

In [24]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [25]:
#split into X,y
X=car_sales.drop("Price", axis=1)
y=car_sales["Price"]

# split into training and set
X_train, X_test, y_train,y_test=train_test_split(X,y,test_size=0.2)

In [28]:
# build machine learning model
from sklearn.ensemble import RandomForestRegressor # this is same as classification but is used to predict a number(price of the car)

model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test,y_test)

C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'Honda'

# the error above is because our data is not all numerical, look at the make and colour columns

In [32]:
car_sales['Doors'].value_counts()  #door is categorical as well

4    856
5     79
3     65
Name: Doors, dtype: int64

In [41]:
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
5     Honda    Red          42652      4
6    Toyota   Blue         163453      4
7     Honda  White          43120      4
8    Nissan  White         130538      4
9     Honda   Blue          51029      4
10   Nissan  White         167421      4
11   Nissan  Green          17119      4
12   Nissan  White         102303      4
13   Nissan  White         134181      4
14    Honda   Blue         199833      4
15   Toyota   Blue         205592      4
16   Toyota    Red          96742      4
17      BMW  White         194189      5
18   Nissan  White          67991      3
19   Nissan   Blue         215820      4
20   Toyota   Blue         124844      4
21    Honda   Blue          30615      4
22   Toyota  White         148744      4
23    Honda  Green         130075      4
24    Honda   Blue         172718      4
25    Honda   Blue         125819      4
26    Honda  White         180390      4
27    Honda  Green          82783      4
28    Honda  White          56687      4
29   Toyota  White         112004      4
..      ...    ...            ...    ...
970  Toyota   Blue         186309      4
971     BMW  Black         178164      3
972   Honda  White         137690      4
973   Honda  Green         237627      4
974  Toyota  White         155383      4
975   Honda  White          22409      4
976  Toyota   Blue          95317      4
977  Toyota   Blue         128016      4
978     BMW  White          85739      5
979  Toyota  Black          17975      4
980  Toyota   Blue         230314      4
981  Toyota  White         129454      4
982   Honda  White         238172      4
983  Toyota    Red         183330      4
984  Nissan   Blue         157235      4
985   Honda   Blue         216250      4
986   Honda  White          71934      4
987   Honda  White         215235      4
988  Nissan  Black         248736      4
989  Toyota    Red          41735      4
990  Toyota  White         173408      4
991   Honda   Blue         235985      4
992   Honda  Green          54721      4
993  Nissan  Black         162523      4
994     BMW   Blue         163322      3
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [58]:
# to make columns make and color numerical
# turn caategories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
# this turns categories into numbers
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")
# this take the onehotencoder and apply it to the cat fetaures and passthrough the remainder of the columns, dont do anything to it(in this case the odometer)

transformed_X=transformer.fit_transform(X)
transformed_X # X now in numbers

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [44]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [42]:
pd.DataFrame(transformed_X)
# 12 rep the odometer column

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
5    0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   42652.0
6    0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  163453.0
7    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   43120.0
8    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  130538.0
9    0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   51029.0
10   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  167421.0
11   0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   17119.0
12   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  102303.0
13   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  134181.0
14   0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  199833.0
15   0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  205592.0
16   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   96742.0
17   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  194189.0
18   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0   67991.0
19   0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  215820.0
20   0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  124844.0
21   0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   30615.0
22   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  148744.0
23   0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  130075.0
24   0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  172718.0
25   0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  125819.0
26   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  180390.0
27   0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   82783.0
28   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   56687.0
29   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  112004.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
970  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  186309.0
971  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  178164.0
972  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  137690.0
973  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  237627.0
974  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  155383.0
975  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   22409.0
976  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   95317.0
977  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  128016.0
978  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0   85739.0
979  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   17975.0
980  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  230314.0
981  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  129454.0
982  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  238172.0
983  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  183330.0
984  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  157235.0
985  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  216250.0
986  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   71934.0
987  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215235.0
988  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  248736.0
989  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   41735.0
990  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  173408.0
991  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  235985.0
992  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   54721.0
993  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  162523.0
994  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  163322.0
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [47]:
# one hot encoding can be done in an alt way from pandas thus
dummies=pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies
#since doors is already numerical, it didnt work on it

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
5,4,0,1,0,0,0,0,0,1,0
6,4,0,0,0,1,0,1,0,0,0
7,4,0,1,0,0,0,0,0,0,1
8,4,0,0,1,0,0,0,0,0,1
9,4,0,1,0,0,0,1,0,0,0
10,4,0,0,1,0,0,0,0,0,1
11,4,0,0,1,0,0,0,1,0,0
12,4,0,0,1,0,0,0,0,0,1
13,4,0,0,1,0,0,0,0,0,1
14,4,0,1,0,0,0,1,0,0,0
15,4,0,0,0,1,0,1,0,0,0
16,4,0,0,0,1,0,0,0,1,0
17,5,1,0,0,0,0,0,0,0,1
18,3,0,0,1,0,0,0,0,0,1
19,4,0,0,1,0,0,1,0,0,0
20,4,0,0,0,1,0,1,0,0,0
21,4,0,1,0,0,0,1,0,0,0
22,4,0,0,0,1,0,0,0,0,1
23,4,0,1,0,0,0,0,1,0,0
24,4,0,1,0,0,0,1,0,0,0
25,4,0,1,0,0,0,1,0,0,0
26,4,0,1,0,0,0,0,0,0,1
27,4,0,1,0,0,0,0,1,0,0
28,4,0,1,0,0,0,0,0,0,1
29,4,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
970,4,0,0,0,1,0,1,0,0,0
971,3,1,0,0,0,1,0,0,0,0
972,4,0,1,0,0,0,0,0,0,1
973,4,0,1,0,0,0,0,1,0,0
974,4,0,0,0,1,0,0,0,0,1
975,4,0,1,0,0,0,0,0,0,1
976,4,0,0,0,1,0,1,0,0,0
977,4,0,0,0,1,0,1,0,0,0
978,5,1,0,0,0,0,0,0,0,1
979,4,0,0,0,1,1,0,0,0,0
980,4,0,0,0,1,0,1,0,0,0
981,4,0,0,0,1,0,0,0,0,1
982,4,0,1,0,0,0,0,0,0,1
983,4,0,0,0,1,0,0,0,1,0
984,4,0,0,1,0,0,1,0,0,0
985,4,0,1,0,0,0,1,0,0,0
986,4,0,1,0,0,0,0,0,0,1
987,4,0,1,0,0,0,0,0,0,1
988,4,0,0,1,0,1,0,0,0,0
989,4,0,0,0,1,0,0,0,1,0
990,4,0,0,0,1,0,0,0,0,1
991,4,0,1,0,0,0,1,0,0,0
992,4,0,1,0,0,0,0,1,0,0
993,4,0,0,1,0,1,0,0,0,0
994,3,1,0,0,0,0,1,0,0,0
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [52]:
# now that all our data are in zeroos and ones, lets refit the models

np.random.seed(42)
#splitting to train and test using transformed x
X_train, X_test, y_train, y_test=train_test_split(transformed_X,y, test_size=0.2)

model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [53]:
model.score(X_test, y_test)

0.30431565439836705

# 1.2 dealing with missing data 

1. fill them with some value(imputation)
2. remove the samples with missing data altogether

In [55]:
# import car sales missing data
car_sales_missing=pd.read_csv("./csv_files/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [57]:
# shows the total number of empty cells in a column

car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [59]:
#create X and y

X=car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

In [60]:
# lets try and convert data to numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X=transformer.fit_transform(X)
transformed_X

ValueError: Input contains NaN

### it returns an error cos of the nan values present

In [61]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
5     Honda    Red        42652.0    4.0  23883.0
6    Toyota   Blue       163453.0    4.0   8473.0
7     Honda  White            NaN    4.0  20306.0
8       NaN  White       130538.0    4.0   9374.0
9     Honda   Blue        51029.0    4.0  26683.0
10   Nissan  White       167421.0    4.0  16259.0
11   Nissan  Green        17119.0    4.0   6160.0
12   Nissan  White       102303.0    4.0  16909.0
13      NaN  White       134181.0    4.0  11121.0
14    Honda   Blue       199833.0    4.0  18946.0
15   Toyota   Blue       205592.0    4.0  16290.0
16   Toyota    Red        96742.0    4.0  34465.0
17      BMW  White       194189.0    5.0  17177.0
18   Nissan  White        67991.0    3.0   9109.0
19   Nissan   Blue       215820.0    4.0   6010.0
20   Toyota    NaN       124844.0    4.0  24130.0
21    Honda    NaN        30615.0    4.0  29653.0
22   Toyota  White       148744.0    4.0  22489.0
23    Honda  Green       130075.0    4.0  21242.0
24    Honda   Blue       172718.0    4.0  14274.0
25    Honda   Blue       125819.0    4.0  15686.0
26    Honda  White       180390.0    4.0  13344.0
27    Honda  Green        82783.0    4.0  10984.0
28    Honda  White        56687.0    4.0   6135.0
29   Toyota  White       112004.0    4.0  13586.0
..      ...    ...            ...    ...      ...
970  Toyota   Blue       186309.0    4.0  16416.0
971     BMW  Black       178164.0    3.0  24891.0
972   Honda  White            NaN    4.0  17939.0
973   Honda  Green       237627.0    4.0   8430.0
974     NaN  White       155383.0    4.0  14345.0
975   Honda    NaN        22409.0    4.0  10429.0
976  Toyota   Blue        95317.0    4.0   7435.0
977  Toyota   Blue       128016.0    4.0  16835.0
978     BMW  White        85739.0    5.0  48419.0
979  Toyota  Black        17975.0    4.0  17940.0
980  Toyota   Blue       230314.0    4.0   6720.0
981  Toyota  White       129454.0    4.0   6446.0
982   Honda  White       238172.0    4.0  13273.0
983  Toyota    Red            NaN    4.0  14671.0
984  Nissan   Blue       157235.0    4.0   4196.0
985     NaN   Blue       216250.0    4.0   9691.0
986   Honda  White        71934.0    4.0  26882.0
987   Honda  White       215235.0    4.0   3825.0
988  Nissan  Black       248736.0    4.0   8358.0
989  Toyota    Red        41735.0    4.0  13928.0
990  Toyota  White       173408.0    4.0   8082.0
991   Honda   Blue       235985.0    4.0   9184.0
992   Honda  Green        54721.0    4.0  27419.0
993  Nissan  Black       162523.0    4.0   4696.0
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

#### option1. fill missing data with pandas

In [63]:
car_sales_missing["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [65]:

#1.numerical columns can be filled with mean
#2. categorical data can be filled with missing

# fill the "make" colum
car_sales_missing["Make"].fillna("missing", inplace = True)

# fill the "Colour" colum
car_sales_missing["Colour"].fillna("missing", inplace = True)

# fill the "odometer" colum
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace = True)

# fill the "doors" colum
car_sales_missing["Doors"].fillna(4, inplace = True)

In [66]:
# checking the dataframe again
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [67]:
# remove rows with missing Price value

car_sales_missing.dropna(inplace=True)

In [68]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [69]:
len(car_sales_missing) # we have lost 50 of our data

950

In [72]:
X=car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

In [74]:
# converting to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X=transformer.fit_transform(X)
transformed_X=transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

## OPtion 2: fill missing values with sklearn

In [83]:
car_missing_data=pd.read_csv("./csv_files/car-sales-extended-missing-data.csv")
car_missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [84]:
car_missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [85]:
#drop rows with no labels(y)
# drop rows that do not have price data, cos we dont want missing values in our label(y)
car_missing_data.dropna(subset=["Price"], inplace=True)
car_missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [86]:
# split into X(features) and y(labels)
X= car_missing_data.drop("Price", axis = 1)

y=car_missing_data["Price"]

In [87]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [92]:
#fill missing values with Scikit-learn(imputation)

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#fill cat values with missisng and num values with mean
cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
#this is used for inputing
door_imputer=SimpleImputer(strategy="constant", fill_value=4)
num_imputer=SimpleImputer(strategy="mean")

#define columns
cat_features=["Make", "Colour"]
door_features=["Doors"]
#this is kinda half way number and half way category
num_features=["Odometer (KM)"]

#create an imputer-sth that fills missing data
imputer=ColumnTransformer([("cat_imputer", cat_imputer, cat_features),
                            ("door_imputer", door_imputer, door_features),
                             ("num_imputer", num_imputer, num_features)])

#Transform the data
filled_X=imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [93]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [94]:
# converting to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X=transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [97]:
# now that all our data as numbers and filled,(no missing data)

#lets fit a model

np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(transformed_X,
                                                   y,
                                                   test_size=0.2)

model=RandomForestRegressor(n_estimators=100)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.21990196728583944

In [98]:
len(car_sales_filled), len(car_sales)

(950, 1000)

# feature engineering or feature encoding is the process of turning nan to numerical values
# imputation is the process of filling missing values

 # 2. CHOOSING THE RIGHT ESTIMATOR/ALGORITHM FOR OUR PROGRAM

estimator=algorithm=model
before choosing a model, det what kind of problem are u working with

1.Classification-predicting whether a sample is one thing or another
2. regression-predicting a number

Often the hardest part of solving a machine learning problem can be finding the right estimator for the job.

Different estimators are better suited for different types of data and different problems.

step 1: check the scikit learn machine learning map
https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

<img src="./images/ml_map.png">

## 2.1 Picking a machine learning model for a regression problem

In [107]:
#import Boston housing dataset
from sklearn.datasets import load_boston
boston=load_boston()
boston;
# it loads as a dict with keys data, target, feature_names
# this is a regression problem cos of the target(we need numbers)

In [104]:
#always try to turn any dataset to a pandas dataframe
boston_df = pd.DataFrame(boston["data"], columns=boston["feature_names"])
boston_df["target"]= pd.Series(boston["target"])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [106]:
# check the no of samples
len(boston_df)

506

In [112]:
# folow the map to det which model u will use.... we get to ridge regression

#RIDGE REGRESSION

from sklearn.linear_model import Ridge

#set up a random seeed to make sure the results are reproducible
np.random.seed(42)

#create the data
X=boston_df.drop("target", axis=1)
y=boston_df["target"]

#split into train and test set
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

#instanciate ridge model
model=Ridge()
model.fit(X_train,y_train)

#check the score of the ridge model on test data
model.score(X_test,y_test)

0.6662221670168519

### How do we improve this score?
### what if rdge wasnt working?
### refer back to the map
 https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [120]:
# ensemble methods combine the predictions of several base estimators built with  a given learning algorithm to give robustness( combines smaler models to get its own predictions)
#randomforest is an ensmeble method.. it has randomforstclassification and randomforstregression

# imporving the model.. lets try randomforest
from sklearn.ensemble import RandomForestRegressor

#setup random seed
np.random.seed(42)

#create the data
X=boston_df.drop("target", axis=1)
y=boston_df["target"]

#split into train and test data
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

# instantiate randomforestregressor
rf=RandomForestRegressor(n_estimators=100) #it randomly create models when u run it

#fit the model
rf.fit(X_train,y_train)

#test the model.. evaluate the randomforest regressor
rf.score(X_test,y_test)

0.873969014117403

In [121]:
#check the ridge model 
model.score(X_test,y_test)

0.6662221670168519



## 2.2 choosing an estimator for a classification problem
lets go to the map
https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

<img src="./images/ml_map.png" >

In [122]:
# a decision tree tells the machine to produce and if else statement for prediction
heart_disease=pd.read_csv("./csv_files/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [123]:
len(heart_disease)

303

In [124]:
heart_disease.shape

(303, 14)

In [134]:
# here we are predicting a category,,,, heart disease or no heart disease
# following the map we get to linear svc

# import the linearsvc estimator class
from sklearn. svm import LinearSVC

#setup random seed
np.random.seed(42)

#make the data'
X= heart_disease.drop("target", axis=1)
y=heart_disease["target"]

#split the data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

# instantiate LinearSVC
# clf=LinearSVC() # doing this alone gives a convergencewarning place the curosr in the bracket and do a shift tab to see the max iter=1000
clf=LinearSVC(max_iter=10000)
clf.fit(X_train,y_train)

#evaluate LINEARSVC
clf.score(X_test,y_test)

C:\Users\Isaac Alexander\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.8360655737704918

In [135]:
heart_disease["target"].value_counts() #this is a binary classification problem

1    165
0    138
Name: target, dtype: int64